.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 0 !important;
  min-height: 400px !important;
  cursor: pointer;
}

/* card.module.css */
.heart {
  position: absolute; /* Position it absolutely */
  bottom: 10px; /* Adjust this value to position it at the bottom */
  right: 10px; /* Adjust this value to position it to the right */
  cursor: pointer;
  z-index: 1; /* Ensure it is above other elements if needed */
}
