@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-size: smaller;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbarcustom {
  position: fixed; /* Fix the navbar to the top */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Align it to the left edge */
  width: 100%; /* Make it span the full width */
  z-index: 1000; /* Ensure it's on top of other elements */
  /* border: 1px solid red; */
  /* border: none !important; */
  background-color: #360b54;
}

.bodyRest {
  margin-top: 20px;
}
